<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="87bdab">  <td>19/09/19 10:41:37</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest._CloseApp()[pri:0, instance:com.forsenteva.testscripts.Eva_Onboard_Caregiver_015@35cabb2a]">&lt;&lt;_CloseApp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2011997442</td>   <td></td> </tr>
<tr bgcolor="87bdab">  <td>19/09/19 10:38:15</td>   <td>-202190</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest._LaunchApp()[pri:0, instance:com.forsenteva.testscripts.Eva_Onboard_Caregiver_015@35cabb2a]">&gt;&gt;_LaunchApp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2011997442</td>   <td></td> </tr>
<tr bgcolor="87bdab">  <td>19/09/19 10:38:21</td>   <td>-196275</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest._SignInToApp()[pri:0, instance:com.forsenteva.testscripts.Eva_Onboard_Caregiver_015@35cabb2a]">&gt;&gt;_SignInToApp</td> 
<td>&nbsp;</td>  <td>main@2011997442</td>   <td></td> </tr>
<tr bgcolor="638263">  <td>19/09/19 10:40:54</td>   <td>-43387</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Eva_Onboard_Caregiver_015.verifySubmitButton()[pri:0, instance:com.forsenteva.testscripts.Eva_Onboard_Caregiver_015@35cabb2a]">verifySubmitButton</td> 
  <td>main@2011997442</td>   <td></td> </tr>
</table>
