<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c7cbad">  <td>19/09/30 10:37:40</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Eva_Care_OnboardPatient_052Test.OnboardPatient_052Test()[pri:0, instance:com.forsenteva.testscripts.sprint2.Eva_Care_OnboardPatient_052Test@7ec7ffd3]">OnboardPatient_052Test</td> 
  <td>main@1793799654</td>   <td></td> </tr>
<tr bgcolor="aeed8f">  <td>19/09/30 10:40:14</td>   <td>153625</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest._CloseApp()[pri:0, instance:com.forsenteva.testscripts.sprint2.Eva_Care_OnboardPatient_052Test@7ec7ffd3]">&lt;&lt;_CloseApp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1793799654</td>   <td></td> </tr>
<tr bgcolor="aeed8f">  <td>19/09/30 10:36:44</td>   <td>-56773</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest._LaunchApp()[pri:0, instance:com.forsenteva.testscripts.sprint2.Eva_Care_OnboardPatient_052Test@7ec7ffd3]">&gt;&gt;_LaunchApp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1793799654</td>   <td></td> </tr>
<tr bgcolor="aeed8f">  <td>19/09/30 10:36:48</td>   <td>-51975</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest._SignInToApp()[pri:0, instance:com.forsenteva.testscripts.sprint2.Eva_Care_OnboardPatient_052Test@7ec7ffd3]">&gt;&gt;_SignInToApp</td> 
<td>&nbsp;</td>  <td>main@1793799654</td>   <td></td> </tr>
</table>
